@font-face {
  font-family: "Walsheim Oblique";
  src: url("/vendor/assets/fonts/gt-walsheim-regular-oblique-web.woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Walsheim";
  src: url("/vendor/assets/fonts/gt-walsheim-web.woff");
  font-weight: normal;
  font-style: italic;
}

$content-spacing: 16px;

$light-grey: rgb(233, 237, 238);
$light-grey-selected: rgb(247, 248, 249);
$light-grey-outline: rgb(221, 222, 223);
$light-grey-text: rgb(182, 183, 184);
$dark-grey: rgb(32, 33, 34);
$dark-grey-outline: rgb(42, 43, 44);
$yellow: rgb(252, 230, 141);
$bone-white: rgb(254, 255, 255);


body {
  background-color: $light-grey;
  margin: 0;
  padding: 0;
}

// Header
.header-content{
  background-color: $dark-grey;
  width: 100%;

  .header-title-container {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    overflow: auto;
  }

  .heading-title {
    line-height: 1.25;
    color: $bone-white;
    font-family: "Walsheim";
    margin: 0;
    // float: cen;
    padding-top: $content-spacing;
    padding-bottom: $content-spacing;
  }

  .header-menu-svg {
    float: right;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    margin-top: -43px;
    padding-right: $content-spacing;
    transition: all .1s ease-in-out;

    &:hover {
      cursor: pointer;
      transform: scale(1.08);
    }
  }

  .menu-container {
    color: $bone-white;
    background: $dark-grey;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: right;
    position: absolute;
    margin: 0;
    top: 78px;
    right: 5%;
    width: 150px;
    z-index: 99999;
    border-radius: 2px;
    font-size: x-small;

    .menu-item {
      padding: ($content-spacing/2) $content-spacing;

      &:hover {
        color: $dark-grey;
        background-color: $yellow;
        cursor: pointer;
      }
    }

    .menu-item + .menu-item {
      border-top: 1px solid $dark-grey-outline;
    }
  }

  .menu-container:before {
    content:"";
    position: absolute;
    right: 24px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $dark-grey transparent;
    z-index:9999;
  }
}


// Body
.body-content {
  width: 100%;
  height: 100%;
  margin-top: $content-spacing;

  // Search Input
  .search-input-container {
    margin-top: ($content-spacing * 2);
    background-color: $bone-white;
    width: 90%;
    margin: 0 auto;
    border-radius: 1px;
    overflow: auto;

    .input {
      outline: none;
      border: 1px solid $bone-white;
      border-radius: 4px;
      padding: $content-spacing;
      width: 80%;
      font-family: inherit;
      font-size: medium;
    }

    .search-svg {
      position: relative;;
      float: right;
      top: $content-spacing;
      right: 20px;;
    }
  }

  // Alert List
  .alert-list-container {
    margin-top: ($content-spacing * 2);
    background-color: $bone-white;
    width: 90%;
    margin: 0 auto;
    border-radius: 1px;

    .alert-toggle-container {
      text-align: center;
      margin-top: $content-spacing;
      padding-top: $content-spacing;
      padding-bottom: $content-spacing;


      .alert-toggle-button {
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;
        padding: 8px 28px;
        background-color: $bone-white;
        color: $light-grey-text;
        text-decoration: none;
        display: inline-block;
        position: relative;
        white-space: nowrap;
        font-size: small;
        border: 1px solid $light-grey-outline;

        &:hover {
          color: $dark-grey;
        }

      }

      .alert-toggle-button.selected {
        background-color: $light-grey-selected;
        color: $dark-grey;
      }

      .alert-toggle-button + .alert-toggle-button {
        border-radius: 0px 5px 5px 0px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 0;
    }

    // Alert List Item
    .alert-list-item-container {
      border-top: 1px solid $light-grey;
      padding: $content-spacing;
      overflow: auto;

      &:hover {
        cursor: pointer;
        background-color: $light-grey-selected;
      }

      &:hover .alert-item-button {
        color: $dark-grey;
        background-color: $yellow;
      }

      .alert-item-heading {
        float: left;
        margin: 0;
        padding-top: 5px;
        font-size: large;
      }

      .alert-item-button {
        float: right;
        cursor: pointer;
        border-radius: 9999px;
        padding: 8px 20px;
        background-color: $light-grey;
        color: $dark-grey;
        text-decoration: none;
        display: inline-block;
        position: relative;
        white-space: nowrap;
        font-family: "Walsheim";
        font-size: x-small;

        &:hover {
          color: $dark-grey;
          background-color: $yellow;
        }
      }
    }
  }
}
